<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="margin-left: 16px">Instagram</a>
  </div>
</nav>

<div class="container">
  <%= render @photos %>
</div>

<%= paginate @photos %>