<h3>Instagram</h3>
<div class="container">
  <% @photos.each do |photo| %>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag(photo.url, class:"activator", width: '200') %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= photo.username %></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p><p>Caption: <%= photo.caption %></p></p>
        </div>
      </div>
  <% end %>


  <%= paginate @photos  %>
</div>